# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Envs / credenciales
.env
.env.*
credentials.json
token.json

# Datos locales
data/
logs/
docs/*.ics

# Notebooks cache
.ipynb_checkpoints/
docs/daily_report.html
